html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content{
  height: 100%;
  width: 100%;
  background: rebeccapurple;
  display: flex;
  flex-direction: column;
}
.header {
  height: 60px;
  width: 100%;
  background: grey;
}
.cont {
  width: 100%;
  flex-grow: 1;
  background: floralwhite;
  display: flex;
}
.left {
  width: 160px;
  height: 100%;
  background: goldenrod;
}
.right {
  flex-grow: 1;
  background-color: skyblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.right-top {
  height: 120px;
  background: thistle;
  padding: 5px;
  box-sizing: border-box;
}
.right-bottom {
  flex-grow: 1;
  background: rgb(54, 29, 54);
}
.right-top .right-nav {
  background: wheat;
  height: 100%;
}
.right-nav-list {
  display: flex;
  height: 100%;
}
.right-nav-list li {
  flex-grow: 1;
  text-align: center;
  height: 100%;
  background: salmon;
  padding: 5px;
  box-sizing: border-box;
}

.right-nav-list li div {
  height: 100%;
  background-color: turquoise;
  line-height: 100px;
}

/* 骰子css */
.touzi {
  display: flex;
  justify-content: center;
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

/* OTHER STYLES */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(top, #222, #333);
}

/*  class名以face为结尾的 */
[class$='face'] {
  margin: 16px;
  padding: 4px;
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
  border-radius: 10%;
}

.pip {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}